.tabsContainer {
    padding-bottom: 40px;
}

.infoCard {
    font-weight: 300;
    line-height: 1.7;
    margin-top: .5rem;
  }

.footerCopyRightText {
      font-size: 0.8rem;
  }

.navbar-brand img {
    height: 55px;
}

.navbar-dark .navbarText {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .05px;
}

.footerLogo {
    width: 45px;
    height: 30px;
  }