.tabsContainer {
  padding-bottom: 40px;
}

.infoCard {
  font-weight: 300;
  line-height: 1.7;
  margin-top: .5rem;
}

.footerCopyRightText {
  font-size: 0.8rem;
}
.footerCopyRightTextMobile {
  display: none;
}

.navbar-brand img {
  height: 55px;
}

.navbar-dark .navbarText {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .05px;
}

.invalidTokenErrorMsg {
  vertical-align: middle;
  top: 0px !important;
}

.footerLogo {
  width: 45px;
  height: 30px;
}

.dateTabShort {
  display: none;
}

.dateTabMedium {
  display: none;
}

.dateTabLong {
  display: block;
}

.container .caroNavbar {
  margin-top: 0 !important;
}

.modal-content .alert .alert-inner--icon {
  margin-right: .5rem;
}

@media (max-width: 576px) {
  .footerCopyRightText {
      display: none;
  }

  .footerCopyRightTextMobile {
    display: block;
  }
}

@media (max-width: 767.8px) {
  .footerLogoMobile {
      display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .dateTabShort {
      display: block;
  }

  .dateTabMedium {
    display: none;
  }

  .dateTabLong {
      display: none;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  .dateTabShort {
    display: none;
  }

  .dateTabMedium {
      display: block;
  }

  .dateTabLong {
      display: none;
  }
}